/.idea/$PRODUCT_WORKSPACE_FILE$
/.idea/.gitignore
/.idea/.name
/out/production/classes/*
/.gradle/*
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/.idea/misc.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/compiler.xml
/.idea/libraries/Gradle__junit_junit_4_12.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
/.idea/modules/java-11-certification.iml
/.idea/modules/java-11-certification.main.iml
/.idea/modules/java-11-certification.test.iml
/.idea/modules/java11-labs.iml
/.idea/java11-labs.iml
/.idea/modules.xml
/build/*
